*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-style: normal;
    color: #000;
}
.container{
    width: 80rem;
}
header{
    display: flex;
    color: #000;
    width: auto;
    height: 4rem;
    justify-content: space-between;
    background-color: #77bda7;
}
header a{
    text-decoration: none;
    color: #000;
}
.logo img{
    width: 8rem;
}
.menu ul{
    display: flex;
}
.menu ul li{
    margin: 10px 30px 10px 30px;
    text-decoration: none;
    list-style: none;
}
.line01,
.line02,
.line04{
    display: flex;
}
.box-left,
.box-right{
    width: 40rem;
    margin-top: 2rem;
}
.box-left h1{
    font-size: calc(1.625rem + .8vw);
}
.box-left p{
    color: rgb(108, 117, 125);    
}
.box-left button{
    width: 15rem;
    height: 4rem;
    background-color: #69B99D;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.box-right{
    display: flex;
    justify-content: end;
    align-items: center;
}
.box-right img{
    width: 30rem;
    height: 22rem;
    border-radius: 4px;
}
.line02{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.line02 .box-left img{
    width: 30rem;
    height: 22rem;
    border-radius: 4px;
}
.line02 .box-right{
    display: block;
}
.line02 .box-right h2{
    color: #000;
    margin-bottom: 1rem;
    flex-direction: column;
}
.line02 .box-right p{
    flex-direction: column;
    color: rgb(108, 117, 125);
}
.line03{
    justify-content: center;
    margin-left: 28rem;
}
.line03 h5 span{
    color: #69B99D;
    justify-content: center;
}
.line04 .row{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 8rem;
}
.line04 .row .col{
    justify-content: space-around;
    background-color: #F9F9F9;
    width: 20rem;
    height: 20rem;
}
.line04 .row .col img{
    width: 18rem;
    height: 7.5rem;
    padding: 1rem 6rem 1rem 6rem;
}
.line04 .row .col h2{
    justify-content: center;
    padding: 1rem 5rem;
}
.line04 .row .col p{
    justify-content: center;
    padding: 1rem 2rem;
}
.line05{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.line05 p{
    display: flex;
    flex-direction: column;
}
.line06{
    display: flex;
    margin-bottom: 7rem;
}
.line06 p{
    margin-top: 1rem;
}
.line06 button{
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
}
.line06 .box-right{
    display: flex;
    flex-direction: column;
}
.line07{
    padding: 1rem 2rem 1rem 2rem;
    width: 100%;
    background-color: #69B99D;
}
.line07 p{
    color: #fff;
}